<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chaeyk.snsaccounttest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.example.chaeyk.snsaccounttest.GlobalApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.chaeyk.snsaccounttest.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.chaeyk.snsaccounttest.KakaoActivity" />
        <activity android:name="com.example.chaeyk.snsaccounttest.GoogleActivity" />
        <activity android:name="com.example.chaeyk.snsaccounttest.FacebookActivity" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.chaeyk.snsaccounttest" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.example.chaeyk.snsaccounttest.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.chaeyk.snsaccounttest.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.chaeyk.snsaccounttest.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.example.chaeyk.snsaccounttest.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.chaeyk.snsaccounttest.permission.C2D_MESSAGE" />

</manifest>
